<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>

  <body>
    <div class="container">

      <h1>
        Route Tracer
        <small class="text-muted">to animate walked route</small>
      </h1>

      <form class="form-inline mb-3">  

        <div class="form-group col-sm-7">
          <label class="col-sm-2 col-form-label" for="coord-info">Coordinates</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" id="coord-info" class="form-control" placeholder="URL com coordenadas" aria-label="URL" aria-describedby="coord-help" onclick="$(this).val('');$('#the-file').val(null);">
              <div class="input-group-append">
                <label class="btn btn-outline-secondary" id="basic-addon2" for="the-file">or Browse</label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <label class="col-sm-5 col-form-label" for="span-time">Execution time</label>
          <div class="col-sm-7">
            <input type="time" id="span-time" class="form-control" required pattern="[0-9]{2}:[0-9]{2}" step="10"
              min="00:00:10" max="00:10:00" value="00:00:10" aria-describedby="time-help">
          </div>
        </div>

        <button type="submit" class="col-sm-1 btn btn-primary">Trace</button>
      </form>
      <small id="coord-help" class="form-text text-muted">*The data obtained from the File ou URL must contain at leas two collumns, latitude and longitude separated by comma ',' and will execute in the time defined in the field 'Execution time'</small>

      <div id="map"></div>
    </div>

    <input type="file" 
           id="the-file" 
           name="the-file" 
           size="40" 
           onchange="$('#coord-info').val($(this).val());"
           accept="text/plain, text/csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="/static/js/map.js"></script>
  </body>
</html>